* {
  font-family: monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

a {
  color: white;
}

body {
  background-color: #111;
  color: #fff;
  text-shadow: 0 0 2px black;

}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {
  width: 250px;
  height: 32px;
  font-size: 20px;
}

.list {
  text-align: center;
}

.list-item {
  list-style: none;
}

.pokemon-card {
  height: 210px;
  width: 150px;
  background-color: #aaa;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid yellow;
  border-radius: 5px;
  padding: 2px;
}

.name-and-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pokemon-name {
  /* margin-right: auto; */
  background-color: #fff4;
  width: fit-content;
  height: fit-content;
  padding: 2px;
  border-radius: 5px;
}

.pokemon-type {
  background-color: #fff4;
  width: fit-content;
  height: fit-content;
  padding: 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-pic-div {
  width: 130px;
  height: 90px;
  overflow: hidden;
}

.pokemon-pic-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}



.pokemon-pic {
  width: 130px;
  height: 90px;
  overflow: hidden;
  background-size: 150%;
  border: 2px solid #fff8;
  margin-top: 0;
  margin-bottom: auto;
  object-fit: contain;
  cursor: pointer;
}

.front-info {
  background-color: #fff5;
  width: 130px;
  height: 70px;
}

.pokemon-abilities {
  width: 100%;
  text-align: center;
}

.pokemon-abilities h5:first-of-type {
  margin-top: 5px;
}

.pokemon-ability-title {
  /* text-decoration: underline; */
  border-bottom: 1px solid white;
  width:80%;
  margin: 0 auto;
}

button {
  width: 80px;
  height: 60px;
  margin: 10px 20px;
}

.btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sprite-toggle-div {
  margin: 5px auto 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#sprite-select {
  width: 150px;
  height: 32px;
}

.search-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#search-choice {
  width: 60px;
  height: 32px;
}

#search {
  width: 150px;
  margin-left: 10px;
}

#bg-select {
  width: 150px;
  height: 32px;
}

#bg-label {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  
}

#sprites-label {
  display: flex;
  flex-direction: column;

}

