* {
  font-family: monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
}

body {
  background-color: #111;
  color: #fff;
  text-shadow: 0 0 2px black;

}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {
  width: 250px;
  height: 32px;
  font-size: 20px;
}

.list {
  text-align: center;
}

.list-item {
  list-style: none;
}

.pokemon-card {
  height: 150px;
  width: 125px;
  background-color: #aaa;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid yellow;
  border-radius: 5px;
  padding: 2px;
}

.name-and-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pokemon-name {
  /* margin-right: auto; */
  background-color: #fff4;
  width: fit-content;
  height: fit-content;
  padding: 2px;
  border-radius: 5px;
}

.pokemon-type {
  background-color: #fff4;
  width: fit-content;
  height: fit-content;
  padding: 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-pic {
  width: 100px;
  height: 60px;
  overflow: hidden;
  background-size: 150%;
  border: 2px solid #fff8;
  margin-top: 0;
  margin-bottom: auto;
  object-fit: contain;
}

.front-info {
  background-color: #fff5;
  width: 100px;
  height: 50px;
}

.pokemon-abilities {
  width: 100%;
  text-align: center;
}

.pokemon-abilities h5:first-of-type {
  margin-top: 5px;
}

label {
  /* text-decoration: underline; */
  border-bottom: 1px solid white;
}

button {
  width: 80px;
  height: 60px;
  margin: 10px 20px;
}

.btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

table {
  width: 720px;
}


tbody {
  width: 100%;
}

tr {
  width: 100%;
}

th {
  background: red;
}

td {
  background-color: green;
  text-align: center;
}














